<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>FB-f-Logo__blue_100.png</key>
			<dict>
				<key>frame</key>
				<string>{{1224,813},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>Gold_Coin_-_Single.png</key>
			<dict>
				<key>frame</key>
				<string>{{503,966},{44,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{44,45}}</string>
				<key>sourceSize</key>
				<string>{44,45}</string>
			</dict>

			<key>Help.png</key>
			<dict>
				<key>frame</key>
				<string>{{893,105},{101,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{101,101}}</string>
				<key>sourceSize</key>
				<string>{101,101}</string>
			</dict>

			<key>Next_bt_clean.png</key>
			<dict>
				<key>frame</key>
				<string>{{401,303},{300,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,80}}</string>
				<key>sourceSize</key>
				<string>{300,80}</string>
			</dict>

			<key>Next_bt_clean_black.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,760},{354,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{354,104}}</string>
				<key>sourceSize</key>
				<string>{354,104}</string>
			</dict>

			<key>NoNo-One-Finger.png</key>
			<dict>
				<key>frame</key>
				<string>{{1410,0},{68,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{68,100}}</string>
				<key>sourceSize</key>
				<string>{68,100}</string>
			</dict>

			<key>NoNo-One-Finger_white.png</key>
			<dict>
				<key>frame</key>
				<string>{{1479,0},{68,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{68,100}}</string>
				<key>sourceSize</key>
				<string>{68,100}</string>
			</dict>

			<key>Sound_On_100.png</key>
			<dict>
				<key>frame</key>
				<string>{{1309,0},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>Sound_On_100_white.png</key>
			<dict>
				<key>frame</key>
				<string>{{1080,510},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>Sound_off_100.png</key>
			<dict>
				<key>frame</key>
				<string>{{1383,466},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>Sound_off_100_white.png</key>
			<dict>
				<key>frame</key>
				<string>{{1325,817},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>StarFull_100.png</key>
			<dict>
				<key>frame</key>
				<string>{{1399,101},{99,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{99,95}}</string>
				<key>sourceSize</key>
				<string>{100,95}</string>
			</dict>

			<key>Yes-Thumb-Up.png</key>
			<dict>
				<key>frame</key>
				<string>{{1196,202},{100,107}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,107}}</string>
				<key>sourceSize</key>
				<string>{101,108}</string>
			</dict>

			<key>Yes-Thumb-Up_white.png</key>
			<dict>
				<key>frame</key>
				<string>{{1123,900},{100,107}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,107}}</string>
				<key>sourceSize</key>
				<string>{101,108}</string>
			</dict>

			<key>add_char.png</key>
			<dict>
				<key>frame</key>
				<string>{{401,635},{131,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{131,100}}</string>
				<key>sourceSize</key>
				<string>{131,100}</string>
			</dict>

			<key>add_char_simple.png</key>
			<dict>
				<key>frame</key>
				<string>{{602,384},{200,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,250}}</string>
				<key>sourceSize</key>
				<string>{200,250}</string>
			</dict>

			<key>ask_facebook.png</key>
			<dict>
				<key>frame</key>
				<string>{{351,865},{350,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{350,100}}</string>
				<key>sourceSize</key>
				<string>{350,100}</string>
			</dict>

			<key>back_bn.png</key>
			<dict>
				<key>frame</key>
				<string>{{533,635},{120,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,61}}</string>
				<key>sourceSize</key>
				<string>{120,61}</string>
			</dict>

			<key>brown-horse-with-white-blaze-or-stripe-thumbnail.png</key>
			<dict>
				<key>frame</key>
				<string>{{656,635},{190,190}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{190,190}}</string>
				<key>sourceSize</key>
				<string>{190,190}</string>
			</dict>

			<key>buy_for099.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,152},{400,151}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{400,151}}</string>
				<key>sourceSize</key>
				<string>{400,151}</string>
			</dict>

			<key>buy_for1999.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,608},{400,151}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{400,151}}</string>
				<key>sourceSize</key>
				<string>{400,151}</string>
			</dict>

			<key>buy_for999.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{400,151}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{400,151}}</string>
				<key>sourceSize</key>
				<string>{400,151}</string>
			</dict>

			<key>check.png</key>
			<dict>
				<key>frame</key>
				<string>{{893,0},{112,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{9,13},{112,104}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>clock.png</key>
			<dict>
				<key>frame</key>
				<string>{{1380,602},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>clock_white.png</key>
			<dict>
				<key>frame</key>
				<string>{{1325,918},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>close_box_red_64.png</key>
			<dict>
				<key>frame</key>
				<string>{{533,697},{59,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,3},{59,59}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>coins_100.png</key>
			<dict>
				<key>frame</key>
				<string>{{1325,711},{100,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,105}}</string>
				<key>sourceSize</key>
				<string>{100,105}</string>
			</dict>

			<key>configuration-02-128.png</key>
			<dict>
				<key>frame</key>
				<string>{{893,803},{128,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{128,124}}</string>
				<key>sourceSize</key>
				<string>{128,124}</string>
			</dict>

			<key>configuration_100.png</key>
			<dict>
				<key>frame</key>
				<string>{{1298,101},{100,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,97}}</string>
				<key>sourceSize</key>
				<string>{100,97}</string>
			</dict>

			<key>configuration_100_white.png</key>
			<dict>
				<key>frame</key>
				<string>{{1297,368},{100,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,97}}</string>
				<key>sourceSize</key>
				<string>{100,97}</string>
			</dict>

			<key>envelope_email_100.png</key>
			<dict>
				<key>frame</key>
				<string>{{1297,303},{100,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,64}}</string>
				<key>sourceSize</key>
				<string>{100,64}</string>
			</dict>

			<key>envelope_email_100_white.png</key>
			<dict>
				<key>frame</key>
				<string>{{893,308},{100,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,64}}</string>
				<key>sourceSize</key>
				<string>{100,64}</string>
			</dict>

			<key>facebook_cancel.png</key>
			<dict>
				<key>frame</key>
				<string>{{401,202},{300,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,100}}</string>
				<key>sourceSize</key>
				<string>{300,100}</string>
			</dict>

			<key>facebook_cancel_ft40.png</key>
			<dict>
				<key>frame</key>
				<string>{{355,760},{300,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,100}}</string>
				<key>sourceSize</key>
				<string>{300,100}</string>
			</dict>

			<key>facebook_send.png</key>
			<dict>
				<key>frame</key>
				<string>{{401,101},{300,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,100}}</string>
				<key>sourceSize</key>
				<string>{300,100}</string>
			</dict>

			<key>facebook_send_ft40.png</key>
			<dict>
				<key>frame</key>
				<string>{{401,0},{300,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,100}}</string>
				<key>sourceSize</key>
				<string>{300,100}</string>
			</dict>

			<key>get_addchar_for5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,304},{400,151}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{400,151}}</string>
				<key>sourceSize</key>
				<string>{400,151}</string>
			</dict>

			<key>get_removechar_for5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,456},{400,151}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{400,151}}</string>
				<key>sourceSize</key>
				<string>{400,151}</string>
			</dict>

			<key>hugging_kittens-190x190.png</key>
			<dict>
				<key>frame</key>
				<string>{{702,191},{190,190}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{190,190}}</string>
				<key>sourceSize</key>
				<string>{190,190}</string>
			</dict>

			<key>japanese-tetsubin-cast-iron-teapot-190x190.png</key>
			<dict>
				<key>frame</key>
				<string>{{803,382},{190,190}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{190,190}}</string>
				<key>sourceSize</key>
				<string>{190,190}</string>
			</dict>

			<key>l_100_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1006,0},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>l_100_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{979,573},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>l_100_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{995,105},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>l_100_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1095,206},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>l_100_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{994,409},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>l_100_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{893,207},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>l_100_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{976,674},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>l_100_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{994,207},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>l_100_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{1077,674},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>l_100_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{1095,307},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>l_100_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{994,308},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>l_100_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{1107,0},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>l_100_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1096,101},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>l_100_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{1022,876},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>l_100_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{1095,408},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>l_100_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{1398,199},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>l_100_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{1197,101},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>l_100_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{1022,775},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>l_100_25.png</key>
			<dict>
				<key>frame</key>
				<string>{{1178,611},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>l_100_26.png</key>
			<dict>
				<key>frame</key>
				<string>{{1398,300},{99,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{99,120}}</string>
				<key>sourceSize</key>
				<string>{99,120}</string>
			</dict>

			<key>l_100_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1181,509},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>l_100_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1208,0},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>l_100_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1224,712},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>l_100_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1224,914},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>l_100_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1279,610},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>l_100_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1282,501},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>l_100_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1297,202},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>latter_100_container.png</key>
			<dict>
				<key>frame</key>
				<string>{{1196,310},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>notification_done.png</key>
			<dict>
				<key>frame</key>
				<string>{{847,674},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>

			<key>points_bar_container.png</key>
			<dict>
				<key>frame</key>
				<string>{{402,966},{100,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,33}}</string>
				<key>sourceSize</key>
				<string>{100,33}</string>
			</dict>

			<key>present_box1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1123,775},{100,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,124}}</string>
				<key>sourceSize</key>
				<string>{100,124}</string>
			</dict>

			<key>remove_char.png</key>
			<dict>
				<key>frame</key>
				<string>{{847,573},{131,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{131,100}}</string>
				<key>sourceSize</key>
				<string>{131,100}</string>
			</dict>

			<key>remove_char_simple.png</key>
			<dict>
				<key>frame</key>
				<string>{{401,384},{200,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,250}}</string>
				<key>sourceSize</key>
				<string>{200,250}</string>
			</dict>

			<key>status_bar_container.png</key>
			<dict>
				<key>frame</key>
				<string>{{201,966},{200,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,33}}</string>
				<key>sourceSize</key>
				<string>{200,33}</string>
			</dict>

			<key>status_bar_cover.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,966},{200,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,30}}</string>
				<key>sourceSize</key>
				<string>{200,30}</string>
			</dict>

			<key>student-desks-in-classroom-190x190.png</key>
			<dict>
				<key>frame</key>
				<string>{{702,0},{190,190}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{190,190}}</string>
				<key>sourceSize</key>
				<string>{190,190}</string>
			</dict>

			<key>sunset-over-country-school-house-thumbnail-190x190.png</key>
			<dict>
				<key>frame</key>
				<string>{{702,826},{190,190}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{190,190}}</string>
				<key>sourceSize</key>
				<string>{190,190}</string>
			</dict>

			<key>trophy_100.png</key>
			<dict>
				<key>frame</key>
				<string>{{893,928},{100,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,89}}</string>
				<key>sourceSize</key>
				<string>{100,89}</string>
			</dict>

			<key>trophy_100_white.png</key>
			<dict>
				<key>frame</key>
				<string>{{1196,411},{100,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,89}}</string>
				<key>sourceSize</key>
				<string>{100,89}</string>
			</dict>

			<key>use_hint.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,865},{350,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{350,100}}</string>
				<key>sourceSize</key>
				<string>{350,100}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,1024}</string>
			<key>textureFileName</key>
			<string>sprites.png</string>
			</dict>
		</dict>
</plist>