<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>B-Movie-Nowhere-Girl-121163.png</key>
			<dict>
				<key>frame</key>
				<string>{{756,0},{250,231}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{250,231}}</string>
				<key>sourceSize</key>
				<string>{250,231}</string>
			</dict>

			<key>FB-f-Logo__blue_100.png</key>
			<dict>
				<key>frame</key>
				<string>{{1799,202},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>Gold_Coin_-_Single.png</key>
			<dict>
				<key>frame</key>
				<string>{{844,508},{44,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{44,45}}</string>
				<key>sourceSize</key>
				<string>{44,45}</string>
			</dict>

			<key>Help.png</key>
			<dict>
				<key>frame</key>
				<string>{{1371,129},{101,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{101,101}}</string>
				<key>sourceSize</key>
				<string>{101,101}</string>
			</dict>

			<key>Iceblink-Luck-by-Cocteau-Twins_MOOKejeZargx_full.png</key>
			<dict>
				<key>frame</key>
				<string>{{401,307},{341,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{341,250}}</string>
				<key>sourceSize</key>
				<string>{341,250}</string>
			</dict>

			<key>Next_bt_clean.png</key>
			<dict>
				<key>frame</key>
				<string>{{702,659},{300,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,80}}</string>
				<key>sourceSize</key>
				<string>{300,80}</string>
			</dict>

			<key>Next_bt_clean_black.png</key>
			<dict>
				<key>frame</key>
				<string>{{401,0},{354,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{354,104}}</string>
				<key>sourceSize</key>
				<string>{354,104}</string>
			</dict>

			<key>NoNo-One-Finger.png</key>
			<dict>
				<key>frame</key>
				<string>{{1900,202},{68,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{68,100}}</string>
				<key>sourceSize</key>
				<string>{68,100}</string>
			</dict>

			<key>NoNo-One-Finger_white.png</key>
			<dict>
				<key>frame</key>
				<string>{{1920,0},{68,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{68,100}}</string>
				<key>sourceSize</key>
				<string>{68,100}</string>
			</dict>

			<key>Sound_On_100.png</key>
			<dict>
				<key>frame</key>
				<string>{{1718,0},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>Sound_On_100_white.png</key>
			<dict>
				<key>frame</key>
				<string>{{1595,410},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>Sound_off_100.png</key>
			<dict>
				<key>frame</key>
				<string>{{1595,713},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>Sound_off_100_white.png</key>
			<dict>
				<key>frame</key>
				<string>{{1595,612},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>StarFull_100.png</key>
			<dict>
				<key>frame</key>
				<string>{{1898,828},{99,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{99,95}}</string>
				<key>sourceSize</key>
				<string>{100,95}</string>
			</dict>

			<key>The_Danse_Society.png</key>
			<dict>
				<key>frame</key>
				<string>{{1003,461},{250,225}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{250,225}}</string>
				<key>sourceSize</key>
				<string>{250,225}</string>
			</dict>

			<key>XmalDeutschland_Tocsin_cd.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,760},{380,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{380,250}}</string>
				<key>sourceSize</key>
				<string>{380,250}</string>
			</dict>

			<key>Yazoo-Upstairs-At-Erics.png</key>
			<dict>
				<key>frame</key>
				<string>{{1042,687},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{250,250}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>Yes-Thumb-Up.png</key>
			<dict>
				<key>frame</key>
				<string>{{1494,759},{100,107}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,107}}</string>
				<key>sourceSize</key>
				<string>{101,108}</string>
			</dict>

			<key>Yes-Thumb-Up_white.png</key>
			<dict>
				<key>frame</key>
				<string>{{1494,651},{100,107}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,107}}</string>
				<key>sourceSize</key>
				<string>{101,108}</string>
			</dict>

			<key>add_char.png</key>
			<dict>
				<key>frame</key>
				<string>{{741,906},{131,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{131,100}}</string>
				<key>sourceSize</key>
				<string>{131,100}</string>
			</dict>

			<key>add_char_simple.png</key>
			<dict>
				<key>frame</key>
				<string>{{1293,700},{200,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,250}}</string>
				<key>sourceSize</key>
				<string>{200,250}</string>
			</dict>

			<key>ask_facebook.png</key>
			<dict>
				<key>frame</key>
				<string>{{401,105},{350,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{350,100}}</string>
				<key>sourceSize</key>
				<string>{350,100}</string>
			</dict>

			<key>back_bn.png</key>
			<dict>
				<key>frame</key>
				<string>{{752,232},{120,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,61}}</string>
				<key>sourceSize</key>
				<string>{120,61}</string>
			</dict>

			<key>buy_for099.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,304},{400,151}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{400,151}}</string>
				<key>sourceSize</key>
				<string>{400,151}</string>
			</dict>

			<key>buy_for1999.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{400,151}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{400,151}}</string>
				<key>sourceSize</key>
				<string>{400,151}</string>
			</dict>

			<key>buy_for999.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,152},{400,151}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{400,151}}</string>
				<key>sourceSize</key>
				<string>{400,151}</string>
			</dict>

			<key>cabaret.png</key>
			<dict>
				<key>frame</key>
				<string>{{994,232},{250,228}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{250,228}}</string>
				<key>sourceSize</key>
				<string>{250,228}</string>
			</dict>

			<key>check.png</key>
			<dict>
				<key>frame</key>
				<string>{{1258,125},{112,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{9,13},{112,104}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>clock.png</key>
			<dict>
				<key>frame</key>
				<string>{{1819,0},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>clock_white.png</key>
			<dict>
				<key>frame</key>
				<string>{{1898,303},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>close_box_red_64.png</key>
			<dict>
				<key>frame</key>
				<string>{{942,841},{59,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,3},{59,59}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>coil_LSD.png</key>
			<dict>
				<key>frame</key>
				<string>{{1245,232},{250,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{250,216}}</string>
				<key>sourceSize</key>
				<string>{250,216}</string>
			</dict>

			<key>coins_100.png</key>
			<dict>
				<key>frame</key>
				<string>{{1797,903},{100,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,105}}</string>
				<key>sourceSize</key>
				<string>{100,105}</string>
			</dict>

			<key>configuration-02-128.png</key>
			<dict>
				<key>frame</key>
				<string>{{1258,0},{128,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{128,124}}</string>
				<key>sourceSize</key>
				<string>{128,124}</string>
			</dict>

			<key>configuration_100.png</key>
			<dict>
				<key>frame</key>
				<string>{{1797,805},{100,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,97}}</string>
				<key>sourceSize</key>
				<string>{100,97}</string>
			</dict>

			<key>configuration_100_white.png</key>
			<dict>
				<key>frame</key>
				<string>{{1797,707},{100,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,97}}</string>
				<key>sourceSize</key>
				<string>{100,97}</string>
			</dict>

			<key>cram1521_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1007,0},{250,231}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{250,231}}</string>
				<key>sourceSize</key>
				<string>{250,231}</string>
			</dict>

			<key>envelope_email_100.png</key>
			<dict>
				<key>frame</key>
				<string>{{1005,938},{100,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,64}}</string>
				<key>sourceSize</key>
				<string>{100,64}</string>
			</dict>

			<key>envelope_email_100_white.png</key>
			<dict>
				<key>frame</key>
				<string>{{873,232},{100,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,64}}</string>
				<key>sourceSize</key>
				<string>{100,64}</string>
			</dict>

			<key>facebook_cancel.png</key>
			<dict>
				<key>frame</key>
				<string>{{401,659},{300,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,100}}</string>
				<key>sourceSize</key>
				<string>{300,100}</string>
			</dict>

			<key>facebook_cancel_ft40.png</key>
			<dict>
				<key>frame</key>
				<string>{{401,558},{300,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,100}}</string>
				<key>sourceSize</key>
				<string>{300,100}</string>
			</dict>

			<key>facebook_send.png</key>
			<dict>
				<key>frame</key>
				<string>{{702,558},{300,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,100}}</string>
				<key>sourceSize</key>
				<string>{300,100}</string>
			</dict>

			<key>facebook_send_ft40.png</key>
			<dict>
				<key>frame</key>
				<string>{{741,740},{300,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,100}}</string>
				<key>sourceSize</key>
				<string>{300,100}</string>
			</dict>

			<key>get_addchar_for5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,608},{400,151}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{400,151}}</string>
				<key>sourceSize</key>
				<string>{400,151}</string>
			</dict>

			<key>get_removechar_for5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,456},{400,151}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{400,151}}</string>
				<key>sourceSize</key>
				<string>{400,151}</string>
			</dict>

			<key>joy3_small.png</key>
			<dict>
				<key>frame</key>
				<string>{{381,760},{359,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{359,250}}</string>
				<key>sourceSize</key>
				<string>{359,250}</string>
			</dict>

			<key>l_100_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1675,101},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>l_100_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1696,327},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>l_100_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1696,529},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>l_100_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1617,0},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>l_100_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1516,0},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>l_100_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1574,101},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>l_100_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{1595,814},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>l_100_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{1696,428},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>l_100_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{1595,915},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>l_100_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{1698,202},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>l_100_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{1473,129},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>l_100_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{1494,550},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>l_100_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1494,449},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>l_100_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{1494,867},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>l_100_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{1595,511},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>l_100_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{1696,630},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>l_100_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{1696,731},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>l_100_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{1776,101},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>l_100_25.png</key>
			<dict>
				<key>frame</key>
				<string>{{1797,303},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>l_100_26.png</key>
			<dict>
				<key>frame</key>
				<string>{{1898,707},{99,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{99,120}}</string>
				<key>sourceSize</key>
				<string>{99,120}</string>
			</dict>

			<key>l_100_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1797,404},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>l_100_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1797,505},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>l_100_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1797,606},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>l_100_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1898,606},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>l_100_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1898,404},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>l_100_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1898,505},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>l_100_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1877,101},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>latter_100_container.png</key>
			<dict>
				<key>frame</key>
				<string>{{1696,832},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>notification_done.png</key>
			<dict>
				<key>frame</key>
				<string>{{1387,0},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>

			<key>points_bar_container.png</key>
			<dict>
				<key>frame</key>
				<string>{{743,508},{100,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,33}}</string>
				<key>sourceSize</key>
				<string>{100,33}</string>
			</dict>

			<key>present_box1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1597,202},{100,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,124}}</string>
				<key>sourceSize</key>
				<string>{100,124}</string>
			</dict>

			<key>remove_char.png</key>
			<dict>
				<key>frame</key>
				<string>{{873,906},{131,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{131,100}}</string>
				<key>sourceSize</key>
				<string>{131,100}</string>
			</dict>

			<key>remove_char_simple.png</key>
			<dict>
				<key>frame</key>
				<string>{{1293,449},{200,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,250}}</string>
				<key>sourceSize</key>
				<string>{200,250}</string>
			</dict>

			<key>status_bar_container.png</key>
			<dict>
				<key>frame</key>
				<string>{{741,872},{200,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,33}}</string>
				<key>sourceSize</key>
				<string>{200,33}</string>
			</dict>

			<key>status_bar_cover.png</key>
			<dict>
				<key>frame</key>
				<string>{{741,841},{200,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,30}}</string>
				<key>sourceSize</key>
				<string>{200,30}</string>
			</dict>

			<key>the_residents.png</key>
			<dict>
				<key>frame</key>
				<string>{{743,307},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{250,200}}</string>
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>

			<key>trophy_100.png</key>
			<dict>
				<key>frame</key>
				<string>{{1496,320},{100,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,89}}</string>
				<key>sourceSize</key>
				<string>{100,89}</string>
			</dict>

			<key>trophy_100_white.png</key>
			<dict>
				<key>frame</key>
				<string>{{1496,230},{100,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,89}}</string>
				<key>sourceSize</key>
				<string>{100,89}</string>
			</dict>

			<key>use_hint.png</key>
			<dict>
				<key>frame</key>
				<string>{{401,206},{350,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{350,100}}</string>
				<key>sourceSize</key>
				<string>{350,100}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,1024}</string>
			<key>textureFileName</key>
			<string>sprites.png</string>
			</dict>
		</dict>
</plist>